{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ product.name }} | {{ parent() }}{% endblock %}

{% block content %}
{% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}
<div class="ui hidden divider"></div>
<div class="ui two column stackable grid">
    <div class="column">
    {# REACT
   <test-component name="Cyrille">Chargement du composant test...</test-component> #}
   SHOW NORMAL
    {% if currentTableauCode is defined %}
    Tableau {{currentTableauCode}}
    {% endif %}
        {{ sylius_template_event('sylius.shop.product.show.left_sidebar', _context) }}
    </div>
    <div class="column" {{ sylius_test_html_attribute('product-box') }}>
        {{ sylius_template_event('sylius.shop.product.show.right_sidebar', _context) }}
    </div>
</div>

SHOW_CONTENT
{{ sylius_template_event('sylius.shop.product.show.content', _context) }}
{# {{ sylius_template_event('sylius.shop.product.show.content', _context|merge({'currentTableauCode': currentTableauCode})) }} #}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    if (typeof lightbox !== 'undefined') {
        lightbox.option({
            albumLabel: "{{ 'sylius.lightbox.image_album_label'|trans|e('js') }}"
        });
    }
</script>

{% endblock %}
