<div class="ui right stackable inverted menu">
        <a href="{{ path('shop_taxon_mis_en_avant')}}" class="item">{{ 'sylius.ui.front'|trans }}</a>
    {% if is_granted('ROLE_USER') %}
        <div class="item" {{ sylius_test_html_attribute('full-name') }}>{{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!</div>
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="item">{{ 'sylius.ui.my_account'|trans }}</a>
        <a href="{{ path('sylius_shop_logout') }}" class="item sylius-logout-button" {{ sylius_test_html_attribute('logout-button') }}>{{ 'sylius.ui.logout'|trans }}</a>
    {% else %}
         
        <a href="{{ path('sylius_shop_login') }}" class="item">{{ 'sylius.ui.login'|trans }}</a>
        <a href="{{ path('sylius_shop_register') }}" class="item">{{ 'sylius.ui.register'|trans }}</a>
        <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact'|trans }}</a>
    {% endif %}
</div>

